:root {
  --img-size: 350px;
  --button-margin: 20px;

  --dark-blue: #070b21;
  --blue: #10184a;
  --light-blue: #00d1ff;
}

body {
  background-color: var(--dark-blue);
  margin: 25;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

nav.topnav {
  left: 0px;
  background-color: var(--dark-blue);
  width: 100%;
  text-align: center;
}

input.topnav {
  position: absolute;
  display: block;
  padding: 0px 16px;
  height: 48px;
  transition: 0.3s;
}

.topnav a {
  margin: 0;
  padding: 0%;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.5s;
}

.topnav a:hover {
  background-color: white;
  color: var(--dark-blue);
}

.topnav a.active {
  background-color: white;
  color: var(--dark-blue);
}

div.outer {
  background-color: var(--blue);
  height: fit-content;
}

input.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

div#designs {
  margin: auto;
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1799px) {
  div#designs {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1349px) {
  div#designs {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 899px) {
  div#designs {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
  }
}

div.wrapper {
  position: relative;
  margin: auto;
  margin-bottom: 100px;
  background-color: var(--dark-blue);
  width: var(--img-size);
}

div.imgDiv {
  position: relative;
  text-align: center;
  color: red;
  padding: 0;
  margin: 0;
  background-color: var(--dark-blue);
  overflow: hidden;
  height: var(--img-size);
}

div.imgDiv div.transitionDiv {
  background-position-x: 50%;
  background-position-y: 50%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;

  -webkit-transition: background-size 0.5s ease;
  -moz-transition: background-size 0.5s ease;
  -o-transition: background-size 0.5s ease;
  -ms-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
}

p.discontinued-tag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

p.title {
  overflow: hidden;
  height: 38px;
  margin: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

p.version {
  background-color: var(--dark-blue);
  margin: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p.last-updated {
  background-color: var(--dark-blue);
  margin: 30px;
  margin-top: 0;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

div#designs div a {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--light-blue);
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  margin: var(--button-margin);
  padding: 0px;
  width: calc(100% - 2 * var(--button-margin));
  border-radius: 15px;
  transition: 0.5s;
}

div#designs div a.no-link {
  background-color: grey;
}

div#designs div a:hover {
  background-color: dodgerblue; /* using random color for now */
}

div#designs div a:active {
  background-color: blue; /* using random color for now */
}

div#partners {
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

@media screen and (max-width: 1799px) {
  div#partners {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1349px) {
  div#partners {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 899px) {
  div#partners {
    margin: auto;
    margin-top: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
  }
}

div#partners div {
  position: relative;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0%;
  background-color: var(--dark-blue);
  width: var(--img-size);
}

div#partners div div.img {
  margin: 0px;
  margin-top: 0px;
}

div.img {
  height: var(--img-size);
  overflow: hidden;
}

div.img img {
  margin: 0px;
  width: 100%;
  position: relative;
  transition: 0.5s;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div.img:hover img {
  transform: scale(0.5, 0.5) translateX(-100%) translateY(-100%);
}

p.name {
  overflow: hidden;
  height: 38px;
  margin: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

div#partners div div.socials {
  height: 40px;
  width: 270px;
  margin: 30px;
  padding: 0%;
}

div.socials a {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
  transition: 0.5s;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 40px;
  float: left;
}

a.website {
  background-image: url("./resources/icon-web-white.png");
}

a.youtube {
  background-image: url("./resources/icon-yt-white.png");
}

a.instagram {
  background-image: url("./resources/icon-insta-white.png");
}

a.discord {
  background-image: url("./resources/icon-discord-white.png");
}

a.twitter {
  background-image: url("./resources/icon-twitter-white.png");
}

a.facebook {
  background-image: url("./resources/icon-fb-white.png");
}

a.website:hover {
  background-image: url("./resources/icon-web.png");
}

a.youtube:hover {
  background-image: url("./resources/icon-yt.png");
}

a.instagram:hover {
  background-image: url("./resources/icon-insta.png");
}

a.discord:hover {
  background-image: url("./resources/icon-discord.png");
}

a.twitter:hover {
  background-image: url("./resources/icon-twitter.png");
}

a.facebook:hover {
  background-image: url("./resources/icon-fb.png");
}
